.lyric {
  text-align: center;
  font-family: 'Lemon', cursive;
}

.main {
  text-align: left;
  font-family: 'Lemon', cursive;
}

.accent {
  text-align: left;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: hotpink;
}
