.html {
  background-color: #fff9e3;
}

.lyric {
  text-align: left;
  font-family: "Lemon", cursive;
}

.main {
  text-align: left;
  font-family: "Lemon", cursive;
}

.accent {
  text-align: left;
  line-height: 1em;
  font-family: "Oleo Script Swash Caps", cursive;
  color: hotpink;
}

.accent:hover {
  color: pink;
}

.artist {
  margin-bottom: 0;
  text-align: center;
  line-height: .25em;
}

.title {
  line-height: .25em;
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .lyric {
    text-align: right;
  }

}
